.container {
  text-align: center;
  
}
ul{
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
}
li{
  font:16px;
  padding-left: 0% !important;
  list-style-type: none;
  border-radius: 5px;
  display: flex !important;
  padding: 10px;
  margin:20px 5px;
  justify-content: space-between !important;
}
.box{
  margin-top: 1rem !important;
  /* border: 1px solid black; */

  padding: 2rem !important;
  
}
.x-5 {
  margin-right: 0rem !important;
  margin-left: 10.5rem !important;
}
.box1{
  display: flex !important;
}
.box1>input{
width:9em;
justify-content: space-between;

}
.complete{
  box-shadow: 1px 1px 5px lightgreen !important ;
  margin: 0.5rem !important;
  padding: 0.5rem !important;

}
.incomplete{
  box-shadow: 1px 1px 5px red !important ;  
  margin: 0.5rem !important;
  padding: 0.5rem !important;
}


